<my-modal-header title="Create999 Organisation1"></my-modal-header>
qweqwe
<div class="modal-body">
  
    <td>
      <my-input-field field-label='Name' ng-model='vm..'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field field-label='Description' ng-model='vm..'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field field-label='Company Type' ng-model='vm..'  
          ></my-input-field>
    </td>
    
</div>
<my-modal-buttons close="vm.close()" save="vm.save()"></my-modal-buttons>
