<my-modal-header title="Create <%=data.name %>"></my-modal-header>
<div class="modal-body">
  <% for (var key in data.model.properties) {  %>
    <td>
      <my-input-field field-label='<%=key%>' ng-model='vm.<%=data.camelCase %>.<%= data._.startCase(key).replace(' ', '') %>'  <% if (data.model.properties[key].type==='date'
        ){ %> input-type='datepopup' <% } %>
          <% if (data.model.properties[key].type === 'lookup' ){ %>
            input-type='select'
            <% } %>></my-input-field>
    </td>
    <% } %>
</div>
<my-modal-buttons close="vm.close()" save="vm.save()"></my-modal-buttons>
