<div class="detailsContainer">
    <my-page-title>Organisation Details</my-page-title>
    <!-------------->
    <!--Header bar-->
    <!-------------->

    
    <td>
      <my-input-field read-only='true'
                      field-label='Name'
                      ng-model='vm.Organisation.Name'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'
                      field-label='Description'
                      ng-model='vm.Organisation.Description'  
          ></my-input-field>
    </td>
    
    <td>
      <my-input-field read-only='true'
                      field-label='CompanyType'
                      ng-model='vm.Organisation.CompanyType'  
          ></my-input-field>
    </td>
    
        </uib-tab>


    </uib-tabset>
