<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample Contacts</title>
    <!-- Load environment variables -->
    <script src="_env.js"></script>
    <!-- bower:css -->

    <!-- endbower -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!--endinject-->
    <script src="//cdn.trackduck.com/toolbar/prod/td.js" async data-trackduck-id="576d0263e92ef5204415c964"></script>

     <base href="/#">
</head>

<body style="margin-left:130px">
    <!-- <main-layout></main-layout> -->
    <h1>Working</h1>
    <!--bower:js -->

    <!--endbower-->
    <!-- inject:js -->
    
    <!--endinject-->
</body>

</html>
