<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">

<my-filter-textbox  ng-model="filter"></my-filter-textbox>

<table class="table table-striped">
   <thead>
        <tr>
             <% for (var key in data.model.properties) {  %>
               <th> <%= data._.startCase(key) %> </th>
             <% } %>
        </tr>
    </thead>
44
    <tr dir-paginate='<%= data.camelCase %> in vm.<%= data.plural %> | filter:vm.contactFilters.textFilter   |itemsPerPage: vm.pageSize  track by $index'>

        <% for (var key in data.model.properties) {  %>
             <td>{{ <%= data.camelCase %>.<%= data._.camelCase(key).replace(' ', '') %> %>  }}</td>
        <% } %>
            
            <td ng-if="vm.showButtons"> 
            <span ng-if="vm.editMode"> 
                <my-button preset="details" click="vm.details({<%= data.camelCase %>: <%= data.camelCase %>})"></my-button> 
                <my-button preset="details" click="vm.details({<%= data.camelCase %>: <%= data.camelCase %>})"></my-button> 
                <my-button preset="delete" click="vm.delete({<%= data.camelCase %>: <%= data.camelCase %>})"></my-button> 
            </span>            
        </td> 
    </tr>
</table>

<dir-pagination-controls  boundary-links="true"></dir-pagination-controls>
