<h1>Details</h1>


<% for (var key in data.model.properties) {  
         for (var subkey in data.model.properties[key]) {%>
          
           <% if(data.model.properties[key][subkey] === "string") { %>
                <my-display-field ng-model="vm.<%= data._.camelCase(key) %>" field-label='<%= data._.startCase(key) %>' field-name='<%= data._.camelCase(key) %>'> </my-display-field>
            <% }  
                if(data.model.properties[key][subkey] === "date") { %>
                <my-date-field ng-model="vm.<%= data._.camelCase(key) %>"> </my-display-field>
            <% }  
} }
%>
